@import "tailwindcss";



body {
  background:  #2A2222;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: #EEF4D4
}


/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}